<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>

</head>
    <video poster="city.png" id="bgvid" playsinline autoplay muted loop>
        <source src="../static/images/No Copyright, Copyright Free Videos, Motion Graphics, Movies, Background, Animation, Clips, Download (2).mp4" type="video/mp4">
    </video>
<body>

    <header>
        <div id="Nav">
            <div id="home">
                <a href="http://169.254.11.12:5000/">Homepage</a>
            </div>
            <div id="stats">
                <a href="http://169.254.11.12:5000/Statistics">Statistics</a>
            </div>
            <div id="funct">
                <a href="http://169.254.11.12:5000/Functions">Functions</a>
            </div>
        </div>
        <div id="Logo">
            <a href="http://169.254.11.12:5000/">
                <img width="148" height="148" src="../static/images/Logo.png" />
            </a>
        </div>
    </header>

    <div id="systemimage">
        <!-- ko if: checkboxDisabled() -->
        <img height="400" src="../static/images/disabled.png"/>
        <!-- /ko -->
        <!-- ko if: !checkboxDisabled() -->
        <img height="400" src="../static/images/Enabled.png"/>
        <!-- /ko -->
    </div>

    <div id="Functions">

        <label class="switch">
            <input type="checkbox" data-bind="click: toggleCheckbox" onclick="startsystem">
            <div class="slider round"></div>
        </label>


        <form id="button" action="http://169.254.11.12:5000/Functions">
            <input type="submit" value="Reset System" />
        </form>
        <!--so default would be-->
        <!--self.systemAlarmed = ko.observable(false);-->
        <!--and then u need a funciton to alarm-->
        <!--self.alarmSystem = function() {-->
        <!--self.systemAlarmed(true);-->
        <!--};-->

        <p>Activate / Deactivate the alarm system</p>
        <p>Reset the alarm system</p>
    </div>

    <div id="legend">
        <p>Green: Activated</p>
        <p>Red: Alarmed</p>
        <p>Black: Deactivated</p>
    </div>

    <script type="text/javascript">
        var ViewModel = function() {
            var self = this;
            self.checkboxDisabled = ko.observable(true);
            self.toggleCheckbox = function(){
                self.checkboxDisabled(!self.checkboxDisabled())
                return true;
            };
        };
        ko.applyBindings(new ViewModel());
    </script>

</body>
    <footer>
        <div id="Footer3">
            Made By Bram Robyn
        </div>
    </footer>
</html>