<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="4.3;url=/">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/css.css">
    <script src="../static/js/refresh.js"></script>
</head>

    <video poster="city.png" id="bgvid" playsinline autoplay muted loop>
        <source src="../static/images/No Copyright, Copyright Free Videos, Motion Graphics, Movies, Background, Animation, Clips, Download (2).mp4" type="video/mp4">
    </video>

<body>
    <header>
        <div id="Nav">
            <div id="home">
                <a href="http://169.254.11.12:5000/">Homepage</a>
            </div>
            <div id="stats">
                <a href="http://169.254.11.12:5000/Statistics">Statistics</a>
            </div>
            <div id="funct">
                <a href="http://169.254.11.12:5000/Functions">Functions</a>
            </div>
        </div>
        <div id="Logo">
            <a href="http://169.254.11.12:5000/">
                <img width="148" height="148" src="../static/images/Logo.png" />
            </a>
        </div>
    </header>

    <div id="canvas1">
        <div id="cam">
            <img src="../static/images/Snapshot.jpg" alt="">
        </div>
    </div>


</body>
<footer>
    <div id="Footer">
        Made By Bram Robyn
    </div>
</footer>
</html>